/* Helpers */

.h-flow {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.h-flow>* {
  margin-top: 0;
  margin-bottom: 0;
}

.h-flow>*+* {
  margin-top: var(--space);
}

.h-offset-image {
  margin-top: 100px !important;
}

.h-offset-image+section {
  margin-top: 150px !important;
  margin-bottom: 100px;
}

.h-offset-image img:first-child {
  width: 230px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: var(--padding);
}

.h-offset-image img:last-child {
  width: 230px;
  margin-bottom: -150px;
  margin-right: auto;
  margin-left: var(--padding);
}

@media screen and (min-width: 768px) {
  .h-offset-image img:last-child {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 768px) {
  .h-3-col {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
  }

}


@media screen and (min-width: 768px) {
  .h-3-col {
    padding: var(--padding-large) var(--padding-medium) var(--padding-x-large)var(--padding-medium);
    display: grid !important;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    justify-items: center;
  }
}

.h-3-col h3 {
  font-size: 1.375rem;
}


.h-3-col .h-flow {
  --space: .5rem;
}

@media screen and (max-width: 768px) {
  .h-3-col {
    padding: var(--padding-large) var(--padding-medium);
  }

}

.h-left {
  text-align: left !important;
}

.h-toppad {
  padding-top: var(--padding-large);
}

.h-no-toppad {
  padding-top: 0;
}

.h-full-width {
  @media screen and (min-width: 768px) {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.h-2-col-small-big {
  padding: var(--padding-medium);
}

.h-2-col {
  display: grid !important;
  grid-gap: 10vw;
  grid-template-columns: 1fr;
  align-items: center;
}

@media screen and (min-width: 600px) {

  .h-2-col {
    display: grid !important;
    grid-gap: 10vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
  }

  .h-2-col-small-big {
    display: grid !important;
    grid-gap: 10vw;
    grid-template-columns: 1fr 3fr;
    padding-top: var(--padding-x-large) !important;
    padding-bottom: var(--padding-x-large) !important;
  }

  .h-2-col-small-big+.h-2-col-small-big {
    padding-top: 0 !important;
  }

  .h-2-col-small-big:last-of-type {
    padding-bottom: 0 !important;
  }
}

.h-constrain {
  max-width: 1250px;
  margin: auto;
  width: 100%;
}

.h-lede {
  font-size: 1.375rem;
  font-weight: 400;
}

.h-bot-border {
  border-bottom: solid 1px var(--light-grey2);
}

.h-2-line-heading p {
  font-weight: 600;
  line-height: 2.063rem;
}

@media screen and (min-width: 600px) {
  .h-2-line-heading p {
    font-size: 1.563rem;
  }
}


.h-2-line-heading p:first-of-type {}

.h-2-line-heading p:last-of-type {
  color: var(--midlight-grey);
  font-weight: 400;
}

.h-rounded {

  margin-bottom: var(--padding);


}

@media screen and (min-width: 600px) {
  .h-rounded {
    border-radius: var(--border-radius-small);

    img {
      border-radius: var(--border-radius-small);
    }
  }
}