{% extends "layouts/base.html" %}
{% block content %}


{% include "partials/page-hero.html" %}

<h3 class="c-title">{{ subtitle }}</h3>

<ul class="c-services h-3-col ">
  {% for item in collections.service %}
  <li class="post-list-item  h-flow">
    <h3><a href="{{ item.url }}" class="post-list-link">{{ item.data.title }}</a></h3>
    {{ item.templateContent | safe }}
    {% if item.data.available %} 
    <a href="{{ site.contactlink }}" class="c-btn--primary c-btn">{{ site.contactlinktext }} </a>
    {% else %}
    <span class="c-btn--secondary c-btn">Currently Unavailable</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<section class="h-2-col h-no-toppad c-images">

  {% if image1 %}
<img src="{{ image1 | safe }}" alt="{{ image1alt }}"/>
{% endif %}

{% if image2 %}
<img src="{{ image2 | safe }}" alt="{{ image2alt }}"/>
{% endif %}

  
</section>

{% include "partials/latest-case-studies.html" %}
<section class="section2 h-2-col-small-big c-section ">
    <div class="h-2-line-heading">
        <p>{{ title }}</p>
    </div>
    <div class="h-flow">
       {{ content | safe }}
    </div>
</section>












{% endblock %}