{% extends "layouts/base.html" %}
{% block content %}


{% include "partials/page-hero.html" %}
<h3>{{ subtitle }}</h3>
<ul class="c-services flow h-3-col">
  {% for item in collections.service %}
  <li class="post-list-item">
    <p><a href="{{ item.url }}" class="post-list-link">{{ item.data.title }}</a></p>
    <p>{{ item.templateContent | safe }}</p>
    <a href="{{ site.contactlink }}" class="c-btn--primary c-btn">{{ site.contactlinktext }} </a>
  </li>
  {% endfor %}
</ul>
<section class="h-2-col h-no-toppad">

  {% if image1 %}
<img src="{{ image1 | safe }}" />
{% endif %}

{% if image2 %}
<img src="{{ image2 | safe }}" />
{% endif %}

  
</section>

{% include "partials/latest-case-studies.html" %}
<section class="section2 h-2-col-small-big c-section ">
    <div class="h-2-line-heading">
        <p>{{ title }}</p>
    </div>
    <div class="h-flow">
        <h2>{{ content | safe }}</h2>
    </div>
</section>












{% endblock %}