.c-case-studies-wrapper {
  padding: var(--padding-medium);

  @media screen and (min-width: 600px) {
    padding: var(--padding-large) var(--padding-medium) var(--padding-x-large) var(--padding-medium);
  }
}

.c-case-studies {
  list-style: none;
  padding: 0;
  align-items: flex-start !important;

  li {
    @media screen and (max-width: 600px) {
      margin-bottom: var(--padding-medium);
    }

    .parapa {
      margin-bottom: var(--padding-medium);

      @media screen and (max-width: 600px) {
        margin-bottom: var(--padding);
      }
    }

  }


}

.parapa {
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.img {
  // width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  // @media screen and (max-width: 600px) {
  //   height: 80vw;
  // }

  overflow: hidden;
}