.c-services {
  padding: var(--padding-x-large) var(--padding-medium) var(--padding-large) var(--padding-medium);

  h3 a {
    text-decoration: none;
  }

  .post-list-item {
    justify-content: space-between;
  }
}

.c-title {
  padding: var(--padding-large) var(--padding-medium) 0 var(--padding-medium);
  font-size: 2.813rem;
  line-height: 3.563rem;

  @media screen and (max-width: 600px) {
    font-size: 2.113rem;
    line-height: 2.563rem;
  }
}