.c-services {
  padding: var(--padding-x-large) var(--padding-medium) var(--padding-large) var(--padding-medium);

  h3 a {
    text-decoration: none;
  }

  .post-list-item {
    justify-content: space-between;
  }
}

.c-title {
  padding: var(--padding-large) var(--padding-medium) var(--padding) var(--padding-medium);
}