{% if casestudy1 %}
<h3 class="c-title">{{ casestudytitle }}</h3>
<section class="c-case-studies-wrapper ">
<ul class="c-case-studies h-2-col">
  {% for item in collections.casestudy %}
  {% if item.data.name == casestudy1 %}
  <li class="post-list-item">
    <a href="{{ item.url }}" >
          {% if featureImage %}
 <script>
            window.onload = function() {
    var fade1 =   new hoverEffect({
        parent: document.querySelector(".img3"),
    intensity: 0.3,
    image1:
    `{{ item.data.thumbImage | safe }}`,
    image2:
    `{{ item.data.thumbImageHover | safe }}`,
    displacementImage: "https://i.postimg.cc/28jsM5QJ/4.png",
    imagesRatio: "1"
});
            }
</script>
          <div class="parapa"><div class="img3 img"></div></div>
          {% endif %}
    <h3>{{ item.data.title }}</h3> </a>
  </a></li>
  {% endif %}
  {% endfor %}
  {% for item in collections.casestudy %}
  {% if item.data.name == casestudy2 %}
  <li class="post-list-item">
    <a href="{{ item.url }}" >
          {% if featureImage %}
          <script>
            var prev_handler = window.onload;
            window.onload = function() {
              if (prev_handler) {
        prev_handler();
    }
 var fade2 =    new hoverEffect({
        parent: document.querySelector(".img2"),
    intensity: 0.3,
    image1:
    `{{ item.data.thumbImage | safe }}`,
    image2:
    `{{ item.data.thumbImageHover | safe }}`,
    displacementImage: "https://i.postimg.cc/28jsM5QJ/4.png",
    imagesRatio: "1"
});
            }
</script>
           <div class="parapa"><div class="img2 img"></div></div>
          {% endif %}
    <h3>{{ item.data.title }}</h3> </a>
  </a></li>
  {% endif %}
  {% endfor %}
</ul>
</section>



{% endif %}