
<header role="banner" class="c-header h-full-width">	
  <div class="c-availability">{{ site.availability }}</div>
  <div class="c-header--bar">
    <a href="/"><img class="c-logo" src="/images/logo.svg" alt="Tommy Mason"></a>
    <ul class="c-nav">
    {% for item in navigation.items %}
      <li>
        <a href="{{ item.url }}" {% if item.class %} class="{{item.class }}" {% endif %} {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</header>